@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    padding: 0;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

hr{
  width: 100%;
}

.componentpanel{
    display: flex;
    flex-direction: column;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

h1, label, h1 i, h3{
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 23px;
  font-weight: 900;
}

i{
  font-family: 'Montserrat', sans-serif;
}

.adjustmentdiv{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
  justify-content: left;
}

.adjustmentdiv input, .input{
  margin: 10px;
}

.colorpanel{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-width: 1px;
  margin: 5px 50px 5px 50px;
}

.addfield, .button2{
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.addfield:hover, .button2:hover{
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca;
}

.button2{
  margin-bottom: 30px;
}

.printbutton{
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #8FBC8F;
  border-color: #8FBC8F;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.printbutton:hover{
  color: #fff;
  background-color: #8FBC8F;
  border-color: #8FBC8F;
}


.adjustmentdiv{
  display: flex;
  align-items: center;
}


.sidemenu{
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    background-color: #A7A29E;
    text-align: center;
}

@page {
  size: auto;
  margin: 0;
}

@media print{
  .sidemenu {
    display: none;
  }

  @page :footer, :header {
    display: none
  }
}

.contentformarea{

  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
}

.contentformarea label{
  text-align: left;
}

.formarea{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #FFF4ED;
}

.formarea h1{
  text-align: center;
}

.formarea label{
  text-align: left;
}

.formDiv{
    margin-top: 15px;
    align-self: center;
    width: 400px;
    padding: 15px;
}

.formDiv:hover{
  border-style:dotted;
}

input, label{
    display:inline-block;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=color]{
    width: 50%;
   
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    text-align: left;
    font-size: 22px;
}

.sidemenu button{
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

* {
    box-sizing: border-box;
  }
  .openBtn {
    display: flex;
    justify-content: left;
  }
  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
  }
  .formContainer input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=field]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 715px) {
    .sidemenu{
      width: 40vw;
    }
  }